.man{
    border: 2px;
    border-bottom-style: dotted;
}
#monitor {
    position: relative;
    left: 500px;
    font-size: 10px;
    color: black;
}
#mon_id{
    position:absolute;
    font-size: 12px;
    left: 570px;
    top : 40px;
}
#mon_idop{
    position: absolute;
    font-size: 12px;
    left: 570px;
    top : 55px;

}
td {padding: 3;
width : 15;}
#slider {
    width: 200px;
}
